{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" href="{% static '/css/home.css' %}">
</head>
<body>

<header>
    <img src="{% static '/images/logo.png' %}" alt="Jukebox">
    <h1 class="Jukebox">Jukebox</h1>
    <nav>
        <ul>
            <li><a href="{% url 'Home' %}">Home</a></li>
            <li><a href="{% url 'playlist_overview' %}">Playlists</a></li>
            <li><a href="{% url 'sign_out' %}" class="logout">Log out</a></li>
        </ul>
    </nav>
</header>
<main>
    {% block content %}
    {% endblock %}
</main>

</body>
</html>