<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ klas.naam }} - {{ stage_periode.stage_soort }} Details</title>
</head>
<body>

<!-- stage_details.html -->

<h2>{{ stage_periode.stage_soort }} Details</h2>

<!-- Display information about the StagePeriode -->

<h3>Bedrijven:</h3>
<ul>
  {% for bedrijf in bedrijven %}
    <li>
      <a href="{% url 'bedrijf_details' bedrijf.id %}">{{ bedrijf.name }}</a>
    </li>
  {% endfor %}
</ul>


{% if user.role == "Docent" %}
  <a href="{% url 'add_bedrijf' stage_id=stage_periode.id %}">Voeg Bedrijf Toe</a>
{% endif %}

</body>
</html>
