<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Home</title>
</head>
<body>
    <h2>Student Home</h2>

    <button type="submit"> <a href="{% url 'student_profile' user.id %}">Profiel</a> </button>

    {% if student_klassen %}
        <ul>
            {% for klas in student_klassen %}
                <li><a href="{% url 'klas_gegevens' klas.id %}">{{ klas.naam }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Geen Klassen</p>
    {% endif %}

<a href="{% url 'add_company' %}">Add Company</a>
<br>
<a href="{% url 'list_companies' %}">List Companies</a>
<br>
<br>




    <button type="submit"> <a href="{% url 'sign_out' %}"> Sign-out</a> </button>

</body>
</html>
